################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HLLibSharp
/HLLibSharp/bin/Debug/netstandard2.0
/HLLibSharp/obj
/Test/obj
/Test/bin/Debug
